:root {
    --white: #fff;
    --black: #000;
    --black-blur: rgba(0, 0, 0, 0.4);
    --white-blur: rgba(255, 255, 255, 0.6);
    --purple: #BA71DA;
    --aqua: #14B9D5;
    --green: #1BBC9B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    list-style: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}