/* mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .wrapper__nav,
    .wrapper__left {
        display: block;
        text-align: center;
    }

    .wrapper__logo {
        margin: 0 auto;
    }

    .wrapper__right {
        margin-top: 15px;
    }

    .header__search {
        padding: 170px 0;
    }

    .header__search h6 {
        text-transform: uppercase;
    }

    .search__width {
        width: 100%;
    }

    .search__icon,
    .destination__place,
    .book__desc,
    .promo__place,
    .contact__left {
        margin-bottom: 15px;
    }

    .content__package-wrapper {
        display: block;
    }

    .content__package-title {
        margin-bottom: 60px;
    }

    .content__package-link {
        text-align: center;
    }

    .show__slider-right {
        padding-left: 0;
        margin-top: 60px;
    }

    .slider__right-static {
        transform: none;
    }

    .show__book {
        margin-top: 30px;
    }

    .wrap__contact {
        padding: 0;
    }

    .wrap__owner {
        display: block;
        text-align: center;
    }

    .wrap__owner h2 {
        margin-bottom: 10px;
    }
}

/* >= Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .content__package {
        padding-left: 30px;
        padding-right: 30px;
    }

    .slider__right-static {
        display: block;
        padding: 0;
    }

    .static__time {
        padding: 30px 0;
        border-bottom: 1px solid var(--black);
    }

    .show__book {
        margin-top: 40px;
    }

    .static__time::after {
        content: "";
    }

    .footer {
        padding-left: 30px;
        padding-right: 30px;
    }

    .contact__right {
        display: block;
    }
}